SECRET_KEY=kasfXxnfpM5Wso7fAK5CZgDsdbtYnoup5ft6bQnXPZ-3p_Fcp_T6WSJk3xzHgLogrUc
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=postgres://hangar:hangar@localhost:5432/hangar
REDIS_URL=redis://localhost:6379/0